@model SIPI.Presentation.Website.Models.Catalogo.IndexModel
@{
    ViewBag.Title = "Crear Pedido";
    var HtmlFiltros = Html.ToInnerModel(x => x.Filtros);
}

<article class="content cards-page">
    <div class="title-block">
        <h3 class="title">Contenido Multimedial</h3>
    </div>
    <section class="section">
        <form id="frmFilters" method="get">
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="form-group row">
                        <div class="row">
                            <label class="col-md-2 form-control-label">CATEGORÍA</label>
                            <div class="col-md-4">
                                @HtmlFiltros.DropDownListFor(x => x.CategoriaId, Model.Categorias, "", new { @class = "c-select form-control boxed" })
                            </div>
                            <label class="col-md-2 form-control-label">TEMA</label>
                            <div class="col-md-4">
                                @HtmlFiltros.TextBoxFor(x => x.Tema, new { @class = "form-control boxed" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="row">
                            <label class="col-md-1 form-control-label">FECHA</label>
                            <div class="col-md-3">
                                @HtmlFiltros.TextBoxFor(x => x.FechaDesde, "{0:dd/MM/yyyy}", new { @class = "form-control boxed", data_apply = "datepicker", placeholder = "dd/mm/aaaa" })
                            </div>
                            <label class="col-md-1 form-control-label">A</label>
                            <div class="col-md-3">
                                @HtmlFiltros.TextBoxFor(x => x.FechaHasta, "{0:dd/MM/yyyy}", new { @class = "form-control boxed", data_apply = "datepicker", placeholder = "dd/mm/aaaa" })
                            </div>
                            <label class="col-md-1 form-control-label">TIPO</label>
                            <div class="col-md-3">
                                @HtmlFiltros.DropDownListFor(x => x.TipoId, Model.Tipos, "", new { @class = "c-select form-control boxed" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input id="SelectAll" class="checkbox" type="checkbox" checked>
                                <span>Seleccionar todos</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <button type="submit" class="btn btn-block btn-primary">Buscar</button>
                        <button id="btnOrder" type="button" class="btn btn-block btn-primary" value="Confirmar">Pedir</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="section">
        <form id="frmMedios" method="post">
            @HtmlFiltros.HiddenFor(x => x.CategoriaId)
            @HtmlFiltros.HiddenFor(x => x.Tema)
            @HtmlFiltros.HiddenFor(x => x.FechaDesde)
            @HtmlFiltros.HiddenFor(x => x.FechaHasta)
            @HtmlFiltros.HiddenFor(x => x.TipoId)
            <input type="hidden" name="SelectAll" />
            <input type="hidden" name="step" value="Confirm" />
            <div class="row infinite-container waypoint">
                @foreach (var m in Model.Medios)
                {
                    <div class="col-xl-3 infinite-item">
                        <div class="card card-default">
                            <div class="card-header">
                                <div class="header-block">
                                    <p class="title">@m.Tema</p>
                                </div>
                            </div>
                            <div class="card-block">
                                <iframe width="100%" height="100%"
                                        src="@(m.Url)?rel=0&amp;showinfo=0"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="card-footer">
                                @m.FechaGrabacion.ToShortDateString()
                                <label class="pull-right">
                                    <input name="Medios" type="checkbox" class="checkbox" value="@m.Id" />
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>
    </section>
</article>
<a class="infinite-more-link" href="@Html.Raw(Url.Action("crear", "pedidos", new
    {
        area = "",
        Offset = Model.OffsetParams.Offset + Model.OffsetParams.Limit,
        Limit = Model.OffsetParams.Limit,
        CategoriaId = Model.Filtros.CategoriaId,
        Tema = Model.Filtros.Tema,
        FechaDesde = Model.Filtros.FechaDesde,
        FechaHasta = Model.Filtros.FechaHasta,
        TipoId = Model.Filtros.TipoId
    }))">Página siguiente</a>

@section scripts{
    <script>
        var view;
        $(document).ready(function () {
            view = new views.pedidos.crear(10);
        });
    </script>
}