@model SIPI.Presentation.Website.Areas.Admin.Models.Pedidos.IndexFiltrosModel
@{
    ViewBag.Title = "Seguimiento de pedidos";
}

<article class="content items-list-page">
    @if (TempData.ContainsKey("Error-Notifications-CambiarEstado"))
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Error-Notifications-CambiarEstado"]
        </div>
    }
    <div class="title-block">
        <h3 class="title">Pedidos</h3>
    </div>
    <section class="section">
        <form action="@Url.Action("index", "pedidos", new { area = "admin" })">
            <div class="form-group row">
                <div class="col-md-9">
                    <div class="row">
                        <label class="col-md-2 form-control-label">MIEMBRO</label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(x => x.Miembro, new { @class = "form-control boxed" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9">
                    <div class="row">
                        <label class="col-md-2 form-control-label">FECHA</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => x.Desde, "{0:dd/MM/yyyy}", new { @class = "form-control boxed", data_apply = "datepicker", placeholder = "dd/mm/aaaa" })
                        </div>
                        <label class="col-md-1 form-control-label">A</label>
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => x.Hasta, "{0:dd/MM/yyyy}", new { @class = "form-control boxed", data_apply = "datepicker", placeholder = "dd/mm/aaaa" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </section>
    <section class="section">
        <form action="@Url.PostTable("index", "pedidos", new { area = "admin" })" method="post">
            <table class="table fixed-table-pagination table-striped table-bordered table-hover"
                   data-toggle="table"
                   data-url='@Url.Table("index","pedidos", new { area = "admin" })'
                   data-search="false"
                   data-pagination="true"
                   data-page-list="[10, 25, 50, 100]"
                   data-side-pagination="server">
                <thead>
                    <tr>
                        <th data-field="temas" data-formatter="app.tables.temasFormatter">TEMAS</th>
                        <th data-field="miembro">MIEMBRO</th>
                        <th data-field="cantidadPedido" data-align="center">CANTIDAD</th>
                        <th data-field="fechaPedido" data-formatter="app.tables.dateFormat" data-align="center">FECHA</th>
                        <th data-field="estado" data-formatter="app.tables.estadoFormatter" data-align="center">ESTADO</th>
                        <th data-field="estadoSiguiente" data-formatter="app.tables.estadoSiguienteFormatter" data-align="center">PASAR A</th>
                    </tr>
                </thead>
            </table>
        </form>
    </section>
</article>