<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shotcut icon" href="@Url.Content("~/content/assets/favicon.ico")" />

    <title>
        @(ViewBag.Title != null
                ? $"Iglesia Calle Brasil - {ViewBag.Title}"
                : "Iglesia Calle Brasil")
    </title>
    @Styles.Render("~/Content/styles/css")
</head>
<body>
        @RenderBody()

        @*@RenderSection("templates", required: false)*@

    @RenderSection("templates", required: false)

    @Scripts.Render("~/bundles/scripts/thirdparty")
    @Scripts.Render("~/bundles/scripts/plugins")
    @Scripts.Render("~/bundles/scripts/app")
    <script>
        var app;
        $(document).ready(function () {
            app = new App('@System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper()');
        })
    </script>
    @RenderSection("scripts", required: false)
    @if (TempData.ContainsKey("Success-Notifications-PedidoCreado"))
    {
        <script>
            toastr.success('@TempData["Success-Notifications-PedidoCreado"]');
        </script>
    }
</body>
</html>
