<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @(ViewBag.Title != null
                ? ViewBag.Title
                : "Iglesia Calle Brasil")
    </title>
    @Styles.Render("~/Content/styles")
</head>
<body>
    @if (TempData.ContainsKey("Notification"))
    {
        <p>@TempData["Notification"]</p>
    }

    @RenderBody()

    @RenderSection("templates", required: false)

    @Scripts.Render("~/bundles/scripts/thirdparty")
    @Scripts.Render("~/bundles/scripts/plugins")
    @Scripts.Render("~/bundles/scripts/app")
    @RenderSection("scripts", required: false)
</body>
</html>
