<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @(ViewBag.Title != null
                ? ViewBag.Title
                : "Iglesia Calle Brasil")
    </title>
    @Styles.Render("~/Content/styles")
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
</head>
<body>
    @if (TempData.ContainsKey("Notification"))
    {
        <p>@TempData["Notification"]</p>
    }

    @RenderBody()

    @*Reference block for JS*@
    @*<div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>*@

    @Scripts.Render("~/bundles/scripts/thirdparty")
    @Scripts.Render("~/bundles/scripts/plugins")
    @RenderSection("scripts", required: false)
</body>
</html>
