@model SIPI.Presentation.Website.Models.Catalogo.IndexModel
@{
    ViewBag.Title = "Catálogo";
    var HtmlFiltros = Html.ToInnerModel(x => x.Filtros);
}

<article class="content cards-page">
    <div class="title-block">
        <h3 class="title">Contenido Multimedial</h3>
    </div>
    <section class="section">
        <form method="get">
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="form-group row">
                        <div class="row">
                            <label class="col-md-2 form-control-label">CATEGORÍA</label>
                            <div class="col-md-4">
                                @HtmlFiltros.DropDownListFor(x => x.CategoriaId, Model.Categorias, "", new { @class = "c-select form-control boxed" })
                            </div>
                            <label class="col-md-2 form-control-label">TEMA</label>
                            <div class="col-md-4">
                                @HtmlFiltros.TextBoxFor(x => x.Tema, new { @class = "form-control boxed" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="row">
                            <label class="col-md-1 form-control-label">FECHA</label>
                            <div class="col-md-3">
                                @HtmlFiltros.TextBoxFor(x => x.FechaDesde, "{0:dd/MM/yyyy}", new { @class = "form-control boxed", data_apply = "datepicker", placeholder = "dd/mm/aaaa" })
                            </div>
                            <label class="col-md-1 form-control-label">A</label>
                            <div class="col-md-3">
                                @HtmlFiltros.TextBoxFor(x => x.FechaHasta, "{0:dd/MM/yyyy}", new { @class = "form-control boxed", data_apply = "datepicker", placeholder = "dd/mm/aaaa" })
                            </div>
                            <label class="col-md-1 form-control-label">TIPO</label>
                            <div class="col-md-3">
                                @HtmlFiltros.DropDownListFor(x => x.TipoId, Model.Tipos, "", new { @class = "c-select form-control boxed" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <button type="submit" class="btn btn-block btn-primary">Buscar</button>
                        <button name="createOrder" type="submit" class="btn btn-block btn-primary" value="CrearPedido">Crear pedido</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="section">
        <div class="row infinite-container waypoint">
            @foreach (var m in Model.Medios.Rows)
            {
                <div class="col-xl-3 infinite-item">
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="header-block">
                                <p class="title">@m.Tema</p>
                            </div>
                        </div>
                        <div class="card-block">
                            <iframe width="100%" height="100%" 
                                    src="@(m.Url)?rel=0&amp;showinfo=0" 
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="card-footer">@m.FechaGrabacion.ToShortDateString()</div>
                    </div>
                </div>
            }
        </div>
    </section>
    
</article>
<a class="infinite-more-link" href="@Html.Raw(Url.Action("index", "catalogo", new
    {
        area = "",
        Offset = Model.OffsetParams.Offset + Model.OffsetParams.Limit,
        Limit = Model.OffsetParams.Limit,
        CategoriaId = Model.Filtros.CategoriaId,
        Tema = Model.Filtros.Tema,
        FechaDesde = Model.Filtros.FechaDesde,
        FechaHasta = Model.Filtros.FechaHasta,
        TipoId = Model.Filtros.TipoId
    }))">Página siguiente</a>

@section scripts{
    <script>
        var view = (function () {
            $(document).ready(function () {
                var infinite = new Waypoint.Infinite({
                    context: $('.main-wrapper')[0],
                    element: $('.infinite-container')[0]
                });
            });
        })();
    </script>
}