@model SIPI.Presentation.Website.Models.Cuenta.LoginModel
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <a href="@Url.Action("index", "home", new { area = "" })">
                    <div><img class="logo" src="@Url.Content("~/content/assets/logo.png")" alt="logo" /></div>
                    <h1 class="auth-title">
                        Iglesia Calle Brasil
                    </h1>
                </a>
            </header>
            <div class="auth-content">
                <p class="text-xs-center">BIENVENIDO</p>
                <form action='@Url.Action("login", "cuenta", new { returnUrl = Request.QueryString["returnUrl"], area = "" })'
                      method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlined", placeholder = "E-mail" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control underlined", placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(m => m.Contrasena)
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Ingresar</button>
                    </div>
                    @if (TempData.ContainsKey("Error-Notifications-Login"))
                    {
                        <div class="form-group has-error">
                            <span class="has-error">@TempData["Error-Notifications-Login"]</span>
                        </div>
                    }
                    <div class="form-group">
                        <p class="text-muted text-xs-center">
                            <a href="@Url.Action("registro", "cuenta", new { area = "" })">Registrarse</a>
                        </p>
                        <p class="text-muted text-xs-center">
                            <a href="@Url.Action("recupero", "cuenta", new { area = ""})">Recuperar contraseña</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>