@model SIPI.Presentation.Website.Models.Cuenta.RecuperoModel
@{
    ViewBag.Title = "Home Page";
}

<form action='@Url.Action("recupero", "cuenta", new { area = "" })' method="post">
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Email)
    @Html.PasswordFor(m => m.Contrasena)
    @Html.PasswordFor(m => m.ConfirmarContrasena)
    <input type="submit" value="Cambiar contraseña" />
</form>