@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse hidden-lg-up">
                <button class="collapse-btn" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="sidebar-header">
                <div class="brand brand-header">
                    <div class="logo"><img class="logo-header" src="@Url.Content("~/content/assets/logo.png")" alt="logo" /></div> <div class="pull-right">Iglesia Calle Brasil</div>
                </div>
            </div>
        </header>
        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="avatar">
                        <img src="@Url.Content($"~/content/assets/faces/{this.Usuario().NombreArchivoAvatar}")" alt="avatar" />
                        <div class="avatar brand">
                            <div>@this.Usuario().Nombre @this.Usuario().Apellido</div>
                            <div class="roles">
                                @string.Join(", ", this.Usuario().Roles)
                            </div>
                            <div>
                                <a href="@Url.Action("logout", "cuenta", new { area = "" })" class="">Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu" id="sidebar-menu">
                        @if (this.Usuario().IsInRole("Contenido"))
                        {
                            @MenuItem("catalogo", "Catálogo")
                            @MenuItem("categorias", "Categorías")
                            @MenuItem("oradores", "Oradores")
                        }
                        
                        @if (this.Usuario().IsInRole("Vendedor") || this.Usuario().IsInRole("Packaging"))
                        {
                            @MenuItem("pedidos", "Pedidos")
                        }

                        @if (this.Usuario().IsInRole("Vendedor"))
                        { 
                            @MenuItem("ventas", "Ventas")
                        }

                        @if (this.Usuario().IsInRole("Contenido") && this.Usuario().IsInRole("Vendedor") 
                            && this.Usuario().IsInRole("Packaging"))
                        {
                            @MenuItem("usuarios", "Usuarios")
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>

        @RenderBody()

        <footer class="footer">
            <div class="footer-block author">
                <ul>
                    <li> Iglesia Calle Brasil </li>
                    <li> 2017 </li>
                </ul>
            </div>
        </footer>
    </div>
</div>

@helper MenuItem(string controller, string text)
{
    <li class="@(this.IsController(controller) ? "active" : "")">
        <a href="@Url.Action("index", controller, new { area = "admin" })">
            @text
            @if (this.IsController(controller))
            {
                <i class="fa arrow"></i>
            }
        </a>
    </li>
}

@section templates {
    @RenderSection("templates", required: false)
}

@section scripts{
    @RenderSection("scripts", required: false)
}